.noMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 60px;
  margin-bottom: 30px;
}

.message {
  font-size: 40px;
}

.dark {
  background-color: var(--color-primary-2);
  color: var(--color-primary-1);
}