.toDoFilter {
  display: flex;
  flex-direction: column;
}

.toDoFilterActions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toDoButton {
  width: 185px;
  height: 30px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.selected {
  pointer-events: none;
  background-color: var(--color-primary-hovered);
}