.cardContent {
  margin-bottom: 15px;
}

.cardAuthorInfo {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
}

.cardAuthorInfoButton {
  border: none;
  background-color: transparent;
  padding-top: 4px;
  color: var(--link-color);
  cursor: pointer;
  font-family: var(--font-default);
  font-size: 16px;
}