.post {
  width: 200px;
  height: 400px;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  position: relative;
  margin: 15px 10px;
}

.post_dark .post__author-info {
  color: var(--color-primary-light);
  background-color: var(--color-secondary-dark);
}

.post_dark .post__content {
  color: var(--color-primary-light);
}

.post_dark .post__title {
  color: var(--color-primary-light);
}

.post__content {
  margin-bottom: 15px;
}

.post__author-info {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-light);
  border-top: 1px solid var(--border-color);
}

.post__author-info-button {
  border: none;
  background-color: transparent;
  padding-top: 4px;
  color: var(--link-color);
  cursor: pointer;
}