.post {
  width: 200px;
  height: 400px;
  padding: 15px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  position: relative;
  margin: 15px 10px;
}

.post_dark .post__author-info {
  color: #fff;
  background-color: rgb(83, 83, 83);
}

.post_dark .post__content {
  color: #fff;
}

.post_dark .post__title {
  color: #fff;
}

.post__content {
  margin-bottom: 15px;
}

.post__author-info {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-top: 1px solid rgb(209, 209, 209);
}

.post__author-info-button {
  border: none;
  background-color: transparent;
  padding-top: 4px;
  color: rgb(69, 152, 248);
  cursor: pointer;
}