.author-name {
  margin: 0;
  padding: 15px;
}

.author-info {
  padding: 15px;
  flex-grow: 1;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.author-address {
  margin-bottom: 15px;
}

.author-email {
  margin-right: 10px;
  color: var(--link-color);
}

.author-tel {
  color: var(--link-color);
}