.authorName {
  margin: 0;
  padding: 15px;
}

.authorInfo {
  padding: 15px;
  flex-grow: 1;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.authorAddress {
  margin-bottom: 15px;
}

.authorEmail {
  margin-right: 10px;
  color: var(--link-color);
}

.authorTel {
  color: var(--link-color);
}