.App {
  text-align: center;
  height: 100vh;
  background-color: var(--color-primary-1);
  display: flex;
  flex-grow: 1;
}

.main {
  padding: 30px 0 30px 0;
  width: 100vw;
  display: none;
  overflow-y: auto;
}

.main.visible {
  display: block;
}

.dark {
  background-color: var(--color-primary-2);
}