:root {
  --font-default: 'IM Fell English SC', serif;

  --border-color: rgb(209, 209, 209);
  --link-color: rgb(69, 152, 248);
  --color-primary-1: #fff;
  --color-secondary-1: rgb(235, 235, 235);
  --color-accent-1: rgb(114, 114, 114);
  --color-primary-2: rgb(48, 48, 48);
  --color-secondary-2: rgb(83, 83, 83);
  --color-accent-2: rgb(190, 140, 39);
}

body {
  margin: 0;
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-default);

}
