.button {
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 3px;
  background-color: var(--color-accent-light);
  color: var(--color-primary-light);
}

.dark {
  background-color: var(--color-accent-dark);
}

.small {
  height: 30px;
  width: 70px;
}

.medium {
  height: 30px;
  width: 90px;
}

.large {
  height: 50px;
  width: 120px;
}