.toDoItem {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  margin-bottom: 10px;
}

.toDoItemContent {
  font-size: 12px;
  font-weight: 700;
}

.toDoItemActions {
  display: flex;
  align-items: center;
}

.toDoButton {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-left: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.editIcon,
.deleteIcon {
  width: 100%;
  height: 100%;
}

.editTaskInput {
  width: 450px;
  height: 22px;
  border: 1px solid var(--color-border);
}

.saveTodoButton {
  border: none;
  border-radius: 3px;
  background-color: var(--color-primary);
  color: white;
  font-size: 12px;
  width: 40px;
  height: 21px;
  margin-left: 5px;
}